<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  background: #555;
}

.content {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
}
</style>
</head>
<body>

<div class="content">
    <p> <a href="https://vietphan203.herokuapp.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/V-logo.svg" alt="logo" width=100 length=100></a> </p>
    <h1 style="color:black">Hello from Viet 👻</h1>
    <p> If you want to see my bio, please <a href="https://vietphan203.herokuapp.com/first">click here</a>. </p>
    <p> Please <a href="https://vietphan203.herokuapp.com/login">click here</a> to log in or register. </p>
    <p> If you wish to subcribe my newsletter, please <a href="https://vietphan203.herokuapp.com/newsletter">click this</a>.</p>
</div>

</body>
</html>
